body {
    margin: 60px auto;
    width: 70%;
    background: url(/img/congruent_pentagon.png) repeat 0 0;
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}
nav ul, footer ul {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}
p, ol {
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family: 'Quicksand', sans-serif;
}

ul.posts li {
    list-style: none;
}


/* 12-column responsive grid */

.row {
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

/* Blog posts */

/* for image caption */
img + em {
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 60%;
}

.center-image {
    margin: 0 auto;
    display: block;
}

/* iframes */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}